$primary: #008CBA;
$secondary: #fff;
$gray: #343a40;
$header: #343B40;
$footer: #343B40;

$link:  #007bff;
$author:  cornflowerblue;
$error:  red;

$formFieldBorder: #ccc;
$formField: #555;

$navItem: white;
$navItemHover: #6c757d;

$card: #343a40;
$cardBorder: rgba(0,0,0,.125);


$paginatorLink: #007bff;
$paginatorLinkBackgroud: #fff;
$paginatorLinkborder: #dee2e6;


$tweetHide: #069;