.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-options {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .75rem;
    color: #343a40;
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #343a40;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    color: #343a40;
    display: flex;
    justify-content: space-between;
}